/* GENERAL */
body {
  text-align: center;
}

section {
  margin-top: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  height: 200px;
}

.why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* MOBILE XS < 768px */
@media screen and (max-width: 767px) {
  img {
    height: auto;
    width: 200px;
    max-width: 100%;
  }

  .wrap-container.lezioni {
    padding-bottom: 40px;
  }

  .wrap-container.lezioni {
    background-color: lightpink;
  }
}