/* GENERAL */
body {
  text-align: center;
}

section {
  margin-top: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  height: 200px;
}

.why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* XS < 768px */
@media screen and (max-width: 767px) {
  .wrap-container.lezioni,
  .wrap-container.steps,
  .wrap-container.why{
    padding-bottom: 20px;
  }

  img {
    height: auto;
    width: 200px;
    max-width: 100%;
  }

  .wrap-container.lezioni,
  .wrap-container.why{
    padding: 10px;
    background-color: lightyellow;
  }
}

/* mid 768-991 */
@media screen and (min-width: 768px) and (max-width: 991px){
  .wrap-container.lezioni,
  .wrap-container.steps,
  .wrap-container.why{
    padding-bottom: 20px;
  }

  .wrap-container.lezioni{
    background-color:rgb(187, 222, 251);
  }

  .wrap-container.steps{
    background-color:rgb(144, 202, 249);
  }

  .wrap-container.why{
    background-color: rgb(100, 181, 246);
  }

  .come-funziona-margin{
    margin-top: 15px;
  }

  hr {
    height: 3px;
    background-color: rgb(13, 71, 161);
    border: none;
    margin:15px 0;
  }

  h1, h3{
    color: rgb(13, 71, 161);
  }

  h1{
    text-shadow:5px 5px 10px blue;
    padding-bottom: 5px;
  }

  .why img {
    background-color: rgb(13, 71, 161);
    border-radius: 50%;
    padding: 30px
  }
}


/* large over 992 */
@media all and (min-width: 992px){
  .wrap-container.lezioni,
  .wrap-container.steps,
  .wrap-container.why{
    padding-bottom: 20px;
  }

  .wrap-container.lezioni{
    background-color: rgb(194, 24, 91);
    padding-bottom:20px;
  }

  .wrap-container.steps{
    background-color: rgb(173, 20, 87);
  }

  .wrap-container.why{
    background-color: rgb(136, 14, 79);
  }

  hr {
    height: 3px;
    background-color: rgb(255, 128, 171);
    border: none;
    margin:15px 0;
  }

  h1, h3{
    color: rgb(255, 128, 171);
  }

  h1{
    text-shadow:5px 5px 10px rgb(248, 187, 208);
    padding-bottom: 5px;
  }

  .why img {
    background-color: rgb(255, 128, 171);
    border-radius: 50%;
    padding: 30px;
  }
}