/* GENERAL */
body {
  text-align: center;
}

section {
  margin-top: 85px;
  padding-top: 15px;
  padding-bottom: 15px;
}

img {
  height: 200px;
}

.grey {
  background-color: #ececec;
}

/* WHY SECTION */
.wrap-container.why > div {
  margin-top: 80px;
}

.steps img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* RESPONSIVE */
/* TABLET MD 768px - 991px */
@media screen and (max-width: 991px) {
  
  #steps div.col-md-6:last-of-type {
    margin-top: 25px;
  }
  
  .why h1 {
    margin: 0;
  }
  
  .wrap-container.why > div {
    margin-top: 40px;
  }

}

/* MOBILE XS < 768px */
@media screen and (max-width: 767px) {
  img {
    height: auto;
    width: 200px;
    max-width: 100%;
  }

  .wrap-container > div {
    padding-bottom: 40px;
  }

  .wrap-container.lezioni > div,
  .wrap-container.why > div{
    background-color: lightpink;
  }


}